 /* [class^="container"] {
  border: 1px solid black;
 }


 [class^="row"] {
  border: 1px solid black;
 } */

 body {
  font-family: 'Helvetica Neue', sans-serif;
 }

 header {
  height: 90px;
  background-color: rgb(44, 62, 80);
 }

 .debug {
  border: 1px solid black;
 }

 header .container {
  height: 100%;
 }

 header .row {
  height: 100%;
 }

 header ul {
  list-style: none;
 }

 .navbar-toggler {
   border: 1px solid  #fff !important;
 }
 
 .er-container {
  width: 60%;
  margin: 0 auto;
 }

 .my-bg{
  background-color: #2c3e50 !important;
}

 section {
  padding: 50px 0;
 }

.fa-bars {
  color: rgb(136, 136, 136);
}

.line-container {
  margin: 0 auto !important; 
}

.line {
  background-color: #fff;
  height: 3px;
  width: 35%;
  margin: 0 10px;
}
 
.line-dark {
  background-color: rgb(44, 62, 80);
  height: 3px;
  width: 35%;
  margin: 0 10px;
}


 /* JUMBOTRON */
 .jumbotron {
  background-color: rgb(26, 188, 156);
  padding-top: 0;
 }

 .content {
   margin: 0 auto;
 }

 .image{
   height: 18rem;
  margin-bottom: 90px;
}

/* PORTFOLIO */
img {
  width: 100%;
}

.er-card {
  position: relative;
  cursor: pointer;
}

.er-card-hover {
  display: none;
  background-color: rgba(0, 172, 155, 0.606);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
}

.er-card-hover i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.col:hover .er-card-hover {
  display: block;
}


/* ABOUT */
.about {
  background-color: rgb(26, 188, 156);
 }

 .btn-success {
  background-color: rgb(26, 188, 156);
  border: none ;
 }


 /* CONTACT ME */

.er-form input,
.er-form textarea {
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
}

.er-form input:focus,
.er-form textarea:focus {
  box-shadow: none;
}

.er-form input::placeholder,
.er-form textarea::placeholder {
  color: #2b3d4f;
  
} 

 /* FOOTER */

 .footer-top {
   background-color: rgb(58, 84, 109);
 }

 .icons i{
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
 }
 .footer-bottom {
  background-color: rgb(44, 62, 80);
}

.coyright {
  font-size:.7rem;
}

span {
  color: rgb(28, 187, 156);
}




